
.CustomTable {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    text-align: left;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    font-size: 0.9rem;
}

.Row {
    border-bottom: 1px solid #dddddd;
}

.Row:nth-of-type(even) {
    background-color: #f3f3f3;
}

.ColLeft {
    width: 30%;
    padding: 12px 15px;
    border-right: 1px solid #dddddd;
}

.ColRight {
    width: 70%;
    padding: 12px 15px;
}

/* Eliminar la línea verde al final */
.Row:last-child {
    border-bottom: none;
}


/* Estilos para la segunda tabla */
.TableTwoColumns {
    width: 45%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    text-align: left;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    font-size: 0.9rem;
}

/* Estilos para las columnas */
.LeftCol {
    width: 50%;
    padding: 12px 15px;
    border-right: 1px solid #dddddd;
}

.RightCol {
    width: 50%;
    padding: 12px 15px;
}

.ButtonCartshop {
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.ButtonSupplier {
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: 1px solid black;
    border-radius: 20px;
    margin-bottom: 1.5rem;
}
.ButtonSupply {
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: 1px solid black;
    border-radius: 20px;
    margin-bottom: 1.5rem;
}