.CoverTitle {
    font-family: 'Times New Roman', Times, serif;
    font-size: 5rem;
    width: 60%;
    line-height: 5rem;
    margin-bottom: 2rem;
} 
.Paragraph {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
.SignUp {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 0.8rem 2rem 0.8rem 2rem;
    border-radius: 20px;
    position: relative;
    top: 1.5rem;
}