/* .UserPanel {
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-bottom: 2rem;
} */
/* .ButtonEdit {
    background-color: white;
    color: black;
    /* margin-right: 0.5rem; 
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 0.9rem;
    padding: 0.75rem 3rem 0.75rem 3rem;
    font-weight: bold;
    border-radius: 20px 20px 20px 20px;
}

.textname{
     margin-left: 2rem;
}
.textprofesion{
     margin-left: 3rem;
}

.rectangle{
     margin-top: 3rem;
     padding-top: 3rem;
}


.overlap2 {
    position: absolute;
    width: 1440px;
    height: 265px;
    top: 0;
    left: 0;
}

.rectangle2 {
    position: absolute;
    width: 1440px;
    height: 130px;
    top: 0;
    left: 0;
    background-color: #000000;
}

.image {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 65px;
    left: 620px;
    object-fit: cover;
} */


/* .RedirectPanel {
    font-size: 0.9rem;
    margin: 1rem;
    text-decoration: underline;
} */
/* .SupplyChain {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 2rem;
    padding: 2rem;
} */
 /* -------------------------------------------------------------------------------------- */

 